{% extends 'base.html'%}

{% block conteudo %}

<h2>Sobre o projeto </h2>

<br>
        <h1>O QUE SÃO JOGOS EDUCATIVOS?</h1>
        <h4>Os jogos e aplicações têm sido um conceito importante no avanço da tecnologia há mais de 40 anos. Eles não só se <br> uma das fontes de entretenimento mais populares, mas também, aliados à educação, colaboram e reforçam o <br> aprendizado de forma lúdica.</h4>
          <img src="{{url_for('static', filename='game3.jfif')}}">
    
        <br>

        <h1>IDEIA DO PROJETO</h1>
        <h4> Com o avanço tecnológico muitas escolas estão adaptando o modelo de ensino para
            acompanhar a modernidade, oferecendo <br> aos alunos outras formas de realizar atividades e
            aprender assuntos novos com mais facilidade e dinamismo, além disso, em <br> momentos
            pandêmicos, o uso das tecnologias são imprescindíveis para colaborar com a aprendizagem
            dos alunos a distância. <br> Portanto, os Jogos educativos irão servir como apoio aos
            professores e alunos, possibilitando a realização de atividades a distância <br> complementando 
            aulas e até facilitando a compreensão dos assuntos abordados em aula. </h4>
           <img src="{{url_for('static', filename='game.jfif')}}">
        <br>

        <h4> Densenvolvedores: Liedeson Moraes, Maria Clara, Hudson Mendes</h4>
        <h4> Orientadores: Vicente Lima, Marjorie Ramos  </h4>

{% endblock %}
